div {
  background-color: rbc(162, 127, 243);
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h1 {
  color: white;
  background-color: #2efe2e;
  padding: 10px;
  font-family:'Times New Roman', Times, serif;
}